.emptyList{
    background-color: #ffffff;
    width: 38vw;
    height: 80vh;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    align-self:initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emptyIndentificador{
    background-color: #c6c6c7;
    width: 4px;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
}
.emptyCard{
    background-color: #dfdfdf;
    height: 87px;
    width: 90%;
    margin: 25px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
}
.emptyText{
    margin-bottom: 20px;
    margin-top: 40px;
}
.maior{
    background-color: #c6c6c7;
    width: 70%;
    height: 13px;
    margin-bottom: 5px;
}
.menor{
    background-color: #c6c6c7;
    width: 13.5%;
    height: 13px;
    margin-top: 5px;
}

.list ul{
    background-color: #ffffff;
    width: 38vw;
    height: 80vh;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
    align-self:initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.list ul li{
    list-style: none;
}